{
  "presets": ["react-native"],
  "plugins": [
  	"transform-decorators-legacy",
    "transform-object-rest-spread",
    ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "cex": "./src/cex",
          "components": "./src/cex/components",
          "containers": "./src/cex/containers",
          "store": "./src/cex/store",
          "actions": "./src/cex/actions",
          "reducers": "./src/cex/reducers",
          "config": "./src/config/dev",
          "icons": "./src/icons",
          "images": "./src/images",
          "assets": "./src/assets",
          "middleware": "./src/middleware",
          "lib": "./src/lib",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
